1. Write a Python program to sum all the items in a list.

In [1]:
l=[1,7,4,7]
print(sum(l))

19

2. Write a Python program to get the largest number from a list.

In [2]:
l=[54,21,65,12]
print(max(l))

65

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [4]:
l=['abc','xyz','aba','1221']
len(l)

4

In [8]:
l=['abc','xyz','aba','1221']
result=[]
for i in l:
  if len(i)>=2 and i[0]==i[-1]:
    result.append(i)
print(len(result))

2

4. Write a Python program to remove duplicates from a list.

In [9]:
l=[5,3,2,2,5,9,1,3]
set(l)

{1, 2, 3, 5, 9}

5. Write a Python program to check if a list is empty or not.

In [13]:
l=[]
if len(l)==0:
  print("list is empty")
else:
  print("list is not empty")

list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [14]:
l=['abc','xyz','aba','1221']
result=[]
for i in l:
  if len(i)<4:
    result.append(i)
print(result)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [16]:
l=[65,12,38,90,48]
l.sort()
l[-2]

65

8. Write a Python program to reverse a list at a specific location.

In [20]:
loc=3
l=[4,9,1,2,3,7]
l1=l[:3]
l2=l[3:]
l2.reverse()
result=l1+l2
print(result)

[4, 9, 1, 7, 3, 2]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [2]:
l=[5,1,4,9,4,1,5]
def is_palindrome():
  if l==l[::-1]:
    return"true"
  else:
    return"false"
print(is_palindrome)

<function is_palindrome at 0x7e2c55c1dcf0>

10. Write a Python a program to find the union and intersection of two lists.

In [11]:
l1=[4,2,1,1,8]
l2=[3,8,5,9]
a=set(l1).union(set(l2))
list(a)

[1, 2, 3, 4, 5, 8, 9]

In [4]:
b=set(l1).intersection(set(l2))
list(b)

[8]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [10]:
d={12:"salma",5:"aadithya",15:"kavya"}
sorted(d.values())
asc=sorted(d.items())
print(asc)

[(5, 'aadithya'), (12, 'salma'), (15, 'kavya')]

12. Write a Python script to check whether a given key already exists in a dictionary.

In [8]:
dict={'name':'ami','class':12,'rollno':3}
key ='class'

if key in dict:
    print("key exist")
else:
    print("key doesn't exist")

key exist

13.Write a Python program to sum all the values in a dictionary.

In [2]:
d={'a':9,'b':12,'c':14,'d':25}
l=list(d.values())
sum(l)

60

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [2]:
d={i:i**2 for i in range(1, 4)}
print(d)

{1: 1, 2: 4, 3: 9}

In [5]:
dic={'ben':23,'alice':43,'anna':12,'alex':9}
new_dic={}
sorted(dic.keys())
for i in sorted(dic.keys()):
  new_dic[i]=dic[i]
print(new_dic)

{'alex': 9, 'alice': 43, 'anna': 12, 'ben': 23}

15.Write a Python program to sort a given dictionary by key.

In [1]:
dic={'ben':23,'alice':43,'anna':12,'alex':9}
new_dic={}
sorted(dic.keys())
for i in sorted(dic.keys()):
  new_dic[i]=dic[i]
print(new_dic)

{'alex': 9, 'alice': 43, 'anna': 12, 'ben': 23}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [2]:
string='learnpython'
dict={}
for i in string:
  dict[i]=dict.get(i,0)+1
print(dict)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [15]:
data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
values=data.values()
values=list(values)
values.sort()
a=values[-3:]
a.reverse()
for k,v in data.items():
  if v in a:
    print(k,v)

item1 45.5
item3 41.3
item4 55